.nav_container {
    height: 60px;
    padding-top: 1rem;
    max-width: 1280px;
    margin: 0 auto;
}

.nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarLogo {
    height: 40px;
    margin-left: 10px;
}

.navBarLogo>img {
    width: 100%;
    height: 100%;
}

.nav_links> a {
    margin-left: 2rem;
    text-decoration: none;
    letter-spacing: 1px;
    color: gray;
}

.nav_links>button {
    margin-left: 2rem;
    cursor: pointer;
}

.signInButton {
    border: none;
    padding: 12px;
    background-color: #ffff;
    border: 1px solid #FF7900;
    color: #FF7900;
    font-size: 15px;
    border-radius: 60px;
}

.registerButton {
    border: none;
    padding: 12px;
    color: whitesmoke;
    background-color: #FF7900;
    font-size: 15px;
    border: 1px solid #ffff;
    border-radius: 60px;
}
.new_links{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.line{
    background-color: gray;
    height: 16px;
    width: 1px;
    margin-left: 5px;
}
.new_links > a {
    margin-left: 5px;
    color: gray;
}